<ion-content [fullscreen]="true" >
  <ion-list class="ion-margin ion-text-center">
    <img src="assets/images/nature-love.png" alt="logo" />
    <!-- <ion-list-header>
      <ion-label color="light">LOGO</ion-label></ion-list-header> -->
    <ion-button color="light" expand="block" shape="round" routerLink="login">Login with Username</ion-button>
    <ion-button color="light" expand="block" shape="round">Login with Gmail</ion-button>
    <ion-text color="light"><p>New User? sign up.</p></ion-text>
  </ion-list>
</ion-content>
