<ion-header class="ion-no-border">
 <ion-list lines="none">
  <ion-item color="primary">
    <ion-icon slot="start" name="reorder-two"></ion-icon>
  </ion-item>
  <ion-item color="primary">
    <ion-label>Hi Technyks</ion-label>
    <ion-avatar slot="end">
      <img src="assets/images/nature-love.png" alt="avatar"/>
    </ion-avatar>
  </ion-item>
 </ion-list>
 <div class="popover">
  <ion-searchbar color="light"></ion-searchbar>
 </div>
</ion-header>

<ion-content >
  <ion-grid class="ion-margin-top">
    <ion-item lines="none"color="light">
      <ion-label class="title">Popular</ion-label>
      <ion-button slot="end" size="small" shape="round" color="primary">View All</ion-button>
    </ion-item>
    <ion-row>
      <swiper-container [slidesPerView]="2.2">
        <swiper-slide *ngFor="let item of populerItems" class="ion-margin">
          <ion-card class="bgCard  ion-text-center  ion-margin-left"  [routerLink]="['/', 'tabs', 'item', item.id]">
            <ion-card-header>
              <ion-label>
                {{item?.name}}
                <p>${{item?.price}}</p>
              </ion-label>
            </ion-card-header>
            <ion-card-content>
              <img [src]="item?.img" alt="{{item?.name}}">
            </ion-card-content>
          </ion-card>
        </swiper-slide>
      </swiper-container>
    </ion-row>
  </ion-grid>


  <ion-grid class="ion-margin-top">
    <ion-item lines="none"color="light">
      <ion-label class="title">Features Plants</ion-label>
      <ion-button slot="end" size="small" shape="round" color="primary">View All</ion-button>
    </ion-item>
    <ion-row>
      <swiper-container [slidesPerView]="1.3">
        <swiper-slide *ngFor="let item of featuredItems" class="ion-margin">
          <ion-card class="featured "  [routerLink]="['/', 'tabs', 'item', item.id]">
            <ion-card-header>
              <img [src]="item?.img" alt="{{item?.name}}">
            </ion-card-header>
            <ion-card-content>
              <ion-item lines="none">
                <ion-label>
                  {{item?.name}}
                  <p><ion-text color="tertiary">{{item?.category}}</ion-text></p>
                </ion-label>
                <ion-text class="price" slot="end" color="primary"><b>${{item?.price}}</b></ion-text>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
      </swiper-container>
    </ion-row>
  </ion-grid>
</ion-content>
